*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.estiloNav{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bagel Fat One', cursiva;
    font-family: 'Carter One', cursiva;
}
h1{
    text-align: center;
    color: #6e4c03; 
}
.logo1{
    border-color: #6e4c03;
    width: 125px;
    border-radius: 50%;
    padding: 0;
}
.logo2{
    border-color: #6e4c03;
    width: 125px;
    border-radius: 50%;
    padding: 0;
}
ul{
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
}
.parrafo1 .parrafo2{
    padding: 1rem;
    line-height: 1.5;
}
.parrafo1{
    font-style: italic;
}
.seccionImagen{
    text-align: center;
}
.img1{
    border-radius: 1rem;
}
footer{
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(124,83,0,1) 0%, rgba(245,194,91,1) 50%, rgba(195,152,83,1) 100%);
}
.h2Carrusel{ 
    text-shadow: 0px 0px 5px black;
}
h4{
    font-size: 1.5rem;
    color: #573c00;
    text-align: center;
    padding: 10px;
}
a{
    color:#6e4c03 !important;
}
p{
    font-size: 1.5rem;
    padding: 10px;
    
}
.divNavbar{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
     display: inline-block;
     text-align: center;
}
main{
    flex-grow: 1;
    background-color: #000000;
}
.fotonCoffee{
    border-radius: 10%;
    width: 500px;
    display:inline-block
}
.fotoServicio{
    border-radius: 10%;
    width: 500px;
    height: 500px;
}
.divFotoServicios{
    display: flex;
    flex-direction: row;
}
.acordeon{
    width: 100%;
    height: 100%;
}
.fotosCarrusel{
    height: 100vh;
    width: 100vw;
}
.footerGrid{
    display: grid;
}
.mainContacto{  
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
      }
      .mainMapa { grid-area: mapa; 
    }
.mainContacto{
        background-image: url(../fotos/BackgroundContacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
.mapa{
    height: 665px;
    width: 500px;
}
.h2Mapa{

    background-color: #c4c6c8;
    text-align: center;
    color: #000000;
}
.divContacto{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.87);
}
.contactanos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contactanosDentro{
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.iconosRedes{
    width: 50px;
    height: 50px;
}
.divIconosRedes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nosotrosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px
    ;
}
.divNosotrosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "gridUno gridDos"
    "gridTres gridDos";

}
.gridDos { grid-area: gridDos; 
}
.gridUno { grid-area: gridUno; 
}
.gridTres { grid-area: gridTres; 
}
.fotoNosotros{
    height: 375px;
    width: 600px;
}
.fotoNosotros1{
    height: 750px;
    width: 600px;
}
.h2Nosotros{
    text-align: center;
    color:#c4c6c8;

}
.pNosotros{
    color:#b96f07;
    margin: 5px;
}
.fotoProductos{
    height: auto;
    width: auto;
}
.btn-bd-primary{
    color: #ffffff;
    background-color: #6e4c03;
    border-radius: 50px 10px;
}
.divMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.serviciosTodo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
}
.btn-bd-primary:hover{
    color: #6e4c03;
    background-color: #070707;
    border-radius: 10px 50px;
}
.logo1:hover{
    border-radius: 40%;
}
a:hover{
    color: #ffffff !important;
    border-radius: 10% !important;
}

@media (max-width: 576px) {
    .celNav{
        background-color:#000000;
    }
    .mediaLogo1{
        display: none;
    }
    .fotosCarrusel{
        width: 400px;
        height: 400px;
    }
 
    }
    @media screen and (min-width: 576px) {
        .mediaLogo{
            display:none;
        }
        .mediaTexto{
            display: none;
        }
    }