*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Bagel Fat One', cursiva;
    font-family: 'Carter One', cursiva;

}
h1{
    text-align: center;
    color: #6e4c03; 
}
.logo1{
    border-color: #6e4c03;
    width: 125px;
    border-radius: 50%;
    padding: 0;
}
.logo2{
    border-color: #6e4c03;
    width: 125px;
    border-radius: 50%;
    padding: 0;
}
ul{
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
}
.parrafo1 .parrafo2{
    padding: 1rem;
    line-height: 1.5;
}
.parrafo1{
    font-style: italic;
}
.seccionImagen{
    text-align: center;
}
.img1{
    border-radius: 1rem;
}
header{
display: block;
background-color: #000000;
height: 200px;
}
footer{
    background: rgb(124,83,0);
    background: linear-gradient(180deg, rgba(124,83,0,1) 0%, rgba(245,194,91,1) 50%, rgba(195,152,83,1) 100%);
}
.h2Carrusel{ 
    text-shadow: 0px 0px 5px black;
}
h4{
    font-size: 1.5rem;
    color: #573c00;
    text-align: center;
    padding: 10px;
}
a{
    color: #6e4c03;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
p{
    font-size: 1.5rem;
    padding: 10px;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
li{
     display: inline-block;
     text-align: center;
}
main{
    background-color: #000000;
}
.fotonCoffee{
    border-radius: 10%;
    width: 500px;
    display:inline-block
}
.fotoServicio{
    padding: 30px;
    border-radius: 10%;
    text-align: center;
    width: 500px;
    height: 500px;
}
.fotosCarrusel{
    height: 900px;
}
.serviciosTodo{
    text-align: center;
}
.footerGrid{
    display: grid;
}
.mainContacto{  
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
      }
      .mainMapa { grid-area: mapa; 
    }
.mainContacto{
        background-image: url(../fotos/BackgroundContacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
.mapa{
    height: 665px;
    width: 500px;
}
.h2Mapa{

    background-color: #c4c6c8;
    text-align: center;
    color: #000000;
}
.divContacto{
    text-align: center;
}
.contactanos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contactanosDentro{
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
.iconosRedes{
    width: 50px;
    height: 50px;
}
.divIconosRedes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo1:hover{
    border-radius: 40%;
}
a:hover{
    color: #ffffff;
    border-radius: 10%;
}