main{
    div{
        h1{
            @include titulos
        }
    }
    .mainContacto{
        background-image: url(../fotos/BackgroundContacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        gap: 0px 0px;
        .divMapa{
            .h2Mapa{
                background-color: $colorH2;
                text-align: center;
                color: #000000;
                .h2Mapa{
                    background-color: $colorH2;
                    text-align: center;
                    color: #000000;
                }
            }
            .mapa{
                height: 665px;
                width: 500px;
            }
        }
            .divContacto{
                text-align: center;
                background-color: rgba(255, 255, 255, 0.87);
                .h2Mapa{
                    background-color: $colorH2;
                    text-align: center;
                    color: #000000;
                }
            .contactanos{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .contactanosDentro{
                    text-shadow: 0px 0px 5px rgb(255, 255, 255);
                    h4{
                        @include contactoH4
                    }
                }
                .contactanosDentro{
                    text-shadow: 0px 0px 5px rgb(255, 255, 255);
                    h4{
                        @include contactoH4
                    }
                }
                .contactanosDentro{
                    text-shadow: 0px 0px 5px rgb(255, 255, 255);
                    h4{
                        @include contactoH4
                    }
                }
            }
        }    
    }
    div{
        div{
            .h2Mapa{
                background-color: $colorH2;
                text-align: center;
                color: #000000;
            }
        }
        .divIconosRedes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .iconosRedes{
                width: 50px;
                height: 50px;
            }
            .iconosRedes{
                width: 50px;
                height: 50px;
            }
            .iconosRedes{
                width: 50px;
                height: 50px;
            }
            .iconosRedes{
                width: 50px;
                height: 50px;
            }
        }
    }
}