@media screen and (min-width: 576px) {
  body{
    header{
      nav{
        div{
          .mediaLogo{
            display: none;
          }
        }
      }
    }
  }
  .mediaTexto {
    display: none;
  }
}

@media (max-width: 576px) {
    body{
      min-height: 100vh;
    }
    main {
      background-color: #000000;
    }
    .celNav {
      background-color: #ffffff;
    }
    .mediaLogo1 {
      display: none;
    }
main{
  section{
    div{
      div{
        div{
           .fotosCarrusel {
             width: 200px;
             height: 200px;
           }
         }
      }
    }
  }
 }
    .divNavbar{
      background-color: #ffffff;
    }
main{
  .mainContacto{
    display: block;
  }
}
    main{
      .divServ{
        width: 100%;
        height: 100%;
        padding: 40px;
        display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 300px 300px 300px 300px 300px 300px;
      gap: 5px 5px;
      grid-auto-flow: row;
      grid-template-areas: 
       "foto1"
       "foto2"
       "foto3"
       "foto4"
       "texto"
       "texto";
       .foto4{
        .imgSer{
          width: 300px;
        }
       }
       .foto2{
        .imgSer{
          width: 300px;
        }
       }
       .foto3{
        .imgSer{
          width: 300px;
        }
       }
       .foto1{
        .imgSer{
          width: 300px;
        }
       }
       .texto{
        width: 300px;
       }
      }

    }
    a:hover {
      color: #000000 !important;
      transition: 1s;
      text-decoration: underline #f69928;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
    }
    main{
        .nosotrosGrid{
          display: grid;
          grid-template-columns: 1fr;
          gap: 100px 0px;
          .divNosotrosGrid{
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 300px 300px 300px;
            gap: 0px 0px;
            grid-template-areas: 
            "gridUno"
            "gridDos"
            "gridTres";
            .gridUno{
              .fotoNosotros {
                height: 300px;
                width: 300px;
                padding: 5px;
                margin-left: 30px;
              }
            }
            .gridDos{
              .fotoNosotros1 {
                height: 300px;
                width: 300px;
                padding: 5px;
                margin-left: 30px;
              }
            }
            .gridTres{
              .fotoNosotros{
                height: 300px;
                width: 300px;
                padding: 5px;
                margin-left: 30px;
              }
            }
          }
          .pNosotros{
            font-size: 20px;
          }
        }
    }
    
  
  }

main{
  .mainContacto{
    .divMapa{
      .mapa{
        width: 350px;
        margin: 4px;
      }
    }
  }
  form{
    .divForm{
      padding: 2px !important;
      width: 355px;
      margin: 5px;
      .nombreApellido{
        margin: 5px;
        padding: 0px;
      }
    }
  }
}