main{
    div{
        h1{
            @include titulos
        }
    }
    .nosotrosGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px 0px;
        .divNosotrosGrid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: 
            "gridUno gridDos"
            "gridTres gridDos";
            .gridUno{
                grid-area: gridUno;
                .fotoNosotros{
                    height: 375px;
                    width: 600px;
                }
            }
            .gridDos{
                grid-area: gridDos;
                .fotoNosotros1{
                    height: 750px;
                    width: 600px;
                }
            }
            .gridTres{
                grid-area: gridTres;
                .fotoNosotros{
                    height: 375px;
                    width: 600px;
                }
            }
        }
        div{
            .h2Nosotros{
                font-family: "Oswald", sans-serif;
                font-weight: 500;
                text-align: center;
                color: $colorH2
            }
        }.pNosotros{
            font-family: "Oswald", sans-serif;
            font-size: 29px;
            font-weight: 300;
            color: $underlineMenu;
            margin: 5px;
        }
        .pNosotros{
            @extend .pNosotros;
        }
        .pNosotros{
            @extend .pNosotros;
        }
        .pNosotros{
            @extend .pNosotros;
        }
        
      }
    }