main{
    div{
        h1{
            @include titulos
        }
    }
    section{
        div{
            div{
                div{
                    .fotoProductos{
                        height: auto;
                        width: auto;
                    }
                    div{
                        div{
                            .btn-bd-primary{
                                color: #ffffff;
                                background-color: #875c00;
                                &:hover{
                                    transition: 1s;
                                    color: #ffffff;
                                    background-color: #694800;
                                }
                            }
                        }
                    }
                }
            }
        }
        div{
            div{
                .fotoProductos{
                    height: auto;
                    width: auto; 
                }
            }
        }
    }
}